<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/not-found.css">
    </head>
    <body>
        <h1>LA PAGINA SOLICITADA NO EXISTE</h1>
        <p>puede interesarle
            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
            </ul>
        </p>
    </body>
</html>