<link rel="stylesheet" href="/stylesheets/footer.css">
    
<section class="footer">
    <div>
        <nav>
            <ul class="footerMenu">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Conocenos</a></li>
                <li><a href="#">Devoluciones</a></li>
                <li><a href="#">Envios</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </div>
    
    <div>
        <nav >
            <ul class="footerRedes">            
                <li><i class="fab fa-facebook-square"></i><a href="#"></a></li>
                <li><i class="fab fa-twitter-square"></i><a href="#"></a></li>
                <li><i class="fas fa-envelope"></i><a href="#"></a></li>
            </ul>
        </nav>
    </div>
</section> 
<script src="/stylesheets/js/popper.js"></script>
<script src="/stylesheets/js/jquery.js"></script>
<script src="/stylesheets/js/bootstrap.js"></script>
</body>
</html>



